* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffb06f;
}

.header {
    background: linear-gradient(to bottom, rgb(87, 38, 5), #ffb06f);
    color: white;
    padding: 20px;
    width: 100%;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-shrink: 1;
}

#Coffee {
    cursor: pointer;
    font-family: sofia, sans-serif;
    font-weight: bold;
    font-size: 2em;
    transition: color 0.3s;
    text-shadow: 3px 3px 3px black;
}


#Coffee:hover {
    color: #9c4f0f;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
    flex-wrap: wrap;
    text-shadow: 3px 3px 5px black;
}

@media only screen and (max-width: 583px) {
    .nav-links {
        margin-top: 10px;
    }
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links a:hover {
    color: #9c4f0f;
}

.nav-links a:active {
    color: #9c4f0f;
}

/*Main*/

.box {
    width: 100%; /* Take up the full width of the container */
    max-width: 1300px; /* Limit the width for large screens */
    margin: 0 auto; /* Center the box */
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.main {
    max-width: 650px;
    margin: 25px 10px;
    /* stays on the left */
    height: 500px;
    background-color: #412107b9;
    position: relative;
}

#title {
    color: wheat;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 2.5rem;
    max-width: 500px;
}

@media screen and (min-width: 601px) {
    #title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 25px;
    }
}



#desc {
    font-family: "Trirong", "Sofia", sans-serif;
    color: wheat;
    position: absolute;
    top: 250px;
    left: 100px;
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

#desc {
    font-family: "Trirong", "Sofia", sans-serif;
    color: wheat;
    position: absolute;
    top: 250px;
    left: 100px;
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

@media screen and (max-width: 650px) {
    #title {
        font-size: 25px;
        left: 20px;
        max-width: 90%;
    }

    #desc {
        font-size: 15px;
        top: 220px;
        left: 20px;
        max-width: 90%;
    }
}

.main_right{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 150px;
    right: 450px;
}


/*

.main_right img{
    width: 650px;
    height: 550px;
    background: transparent;
}

*/